[submodule "themes/anubis"]
	path = thinkfirst/themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "thinkfirst/themes/ananke"]
	path = thinkfirst/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
